  <!--
      
      body
     {
      margin:0;
      padding:0;

      font-family:metropolislight;
     }

     #page_body
     {
      display:flex;
      flex-flow:row nowrap;

      width:100%;
      }

      #body_main
       {
	display:flex;
	flex-flow:column nowrap;

	width:74%;

	background-color:#000;
       }
		
       #body_main_inner_container
	{
	 display:flex;
	 flex-flow:row nowrap;

	 width:100%;
	}

	#body_main_left_side_container
	 {
	  width:50%;
	 }

	#body_main_right_side_container
	 {
	  width:50%;
	 }



     img
     {
      width:100%;
      margin:0;
      padding:0;
     }

    .image_item
     {
      display:flex;
      flex-flow:row nowrap;

      position:relative;

      width:100%;

      background-size:contain;
      background-repeat:no-repeat;
     }

    .image_item .caption_outer_contaniner
     {
      position:absolute;

      display:flex;
      flex-flow:row nowrap;

      bottom:0;

      width:98%;

      padding:.5em 1%;

      border:rgba(255,255,255,.7);
      background-color:rgba(0,0,0, .3);
      color:#FFF;

      font-family:metropolislight;
     }

    .image_item .caption_inner_contaniner
     {
      display:flex;
      flex-flow:column nowrap;

      align-self:center;

      align-items:center;
      justify-content:center;

      flex-shrink:0;

      margin-right:1em;
      padding-left:.5em;
      padding-right:1em;
      border-right:1px dotted rgba(255,255,255,.3);
     }

     .play_button
      {
       font-size:4em;
       color:rgba(255,255,255,.7);
      }

     .play_button_dark
      {
       font-size:4em;
       color:rgba(0,0,0,.5);
      }

     .item_likes_count
      {
       text-shadow:3px 3px 3px rgba(255,255,255, .5);
       font-size:1.5em;
      }

    .image_item_caption
     {
      display:flex;
      flex-flow:row nowrap;

      flex-grow:1;

      position:relative;

      align-items:center;
      justify-content:center;
     }

    .image_item_caption .image_item_caption_text
     {
      /* display:flex;
      flex-flow:row wrap; */

      width:100%;

      margin-bottom:1em;

      line-height:1.2em;
     }

    .image_item_caption .image_item_caption_text a
     {
      text-decoration:none;
      
      color:#FFF;
     }

    .image_item_caption .image_item_caption_text a:hover
     {
      border-bottom:rgba(255,255,255,.5);
     }

    .image_item_caption .image_item_caption_text_more_icon_container
     {
      padding-right:1em;
      color:rgba(0,0,0, .3);
     }

    .image_item_caption_text_more_icon
     {
      font-size:1.5em;
     }

    .item_username_container
     {
      display:flex;
      flex-flow:row nowrap;

      justify-items:space-between;

      position:absolute;
      bottom:.3em;

      text-align:right;

      font-size:.65em;

      width:96%;

      padding:0 2%;

      color:#FFF;

      border-radius:.3em;

      background-color:rgba(0,0,0,.2);
     }

    .item_likes_count_number
     {
      font-family:baroque;
     }

    .image_item img
     {
      visibility:hidden;
     }

    .item_comments_count
     {
      font-size:1em;
     }

    .item_username
     {
      flex-grow:1;
     }

     .welcome_and_description
      {
       display:flex;
       flex-flow:column nowrap;

       width:98%;

       margin-top:1em;
       padding:1em 1%;

       color:#FFF;
      }

     .welcome_and_description p
      {
       padding-left:.5em;

       font-size:.85em;
      }

     .welcome_and_description p a
      {
       color:#FFF;
       
       text-decoration:none;
       border-bottom:1px solid rgba(255,255,255, .4);
      }

      .pink_version
       {
	color:rgba(255,0,102, .5);
       }

       #body_sidebar
       {
        display:flex;
	flex-flow:column nowrap;

	align-self:flex-start;

	width:25%;

	padding-bottom:3em;
       }

       .body_sidebar_inner_container
	{
	 display:flex;
	 flex-flow:column nowrap;

	 width:100%;
	}

	.video_item_container
	 {
	  display:flex;
	  flex-flow:column nowrap;

	  position:relative;

	  width:100%;

	  margin-bottom:2em;
	 }
	 
	.video_item_container .video_play_button_container
	 {
	  display:flex;
	  flex-flow:row center;

	  position:absolute;

	  top:33%;

	  width:100%;

	  align-items:center;
	  justify-content:center;
	 }
	 
	 .video_description
	  {
	   margin-top:.5em;
	   font-size:.8em;
	  }
	  	  
	 .video_description a
	  {
	   text-decoration:none;

	   color:#000;
	  }
	  
	 .video_description a:hover
	  {
	   border-bottom:1px solid rgba(0,0,0,.7);
	  }

	 .video_description .video_title
	  {
	   font-weight:bold;
	  }

	  #body_sidebar_text_items_container
	  {
	   display:flex;
	   flex-flow:column nowrap;

	   margin-top:2em;

	   border-top:1px solid #EEE;
	  }
	  
	 .body_sidebar_text_item
	  {
	   display:flex;
	   flex-flow:column nowrap;

	   width:98%;

	   padding:0 1%;
	   padding-top:2em;
	  }
	   
	  .body_sidebar_text_item h2
	   {
	    display:flex;

	    flex-flow:row nowrap;

	    margin-bottom:.3em;
	    font-size:1.2em;
	   }
	   
	  .body_sidebar_text_item h2 a
	   {
	    text-decoration:none;
	    
	    color:#000;

	    border-bottom:1px solid rgba(255,255,255, 1);
	   }
	   
	  .body_sidebar_text_item h2 a:hover
	   {
	    border-bottom:1px solid rgba(0,0,0, .1);
	   }

	  .body_sidebar_text_item img
	   {
	    width:100%;
	   }
	   
	   .body_sidebar_text_item_description
	    {
	     font-size:.9em;
	    }
   -->
